<!doctype html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>網頁走丟了嗎</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        html{
            background: #332E33
        }
    </style>
</head>
<body>

    <div class="container-fluid text-center d-flex justify-content-center align-items-center flex-column" style="background-color: #363242; height:100vh">

    <p class="text-white" style="font-size:100px;">川-404</p>
    <p class="text-white Blinking-Border  text-center SonoFonts ps-1">PAGE NOT FOUND.</p>

</div>

</body>
</html>