@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');


*{

    padding: none;
    margin: none;
    border: none;

}

html{
    background: #332E33
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

.SonoFonts{
    font-family: 'Sono', sans-serif;
}

/*HomePage Typing Animation*/

@keyframes blink {
   50% { border-color: transparent; }
}

@keyframes top-In {
  from { transform: translateY(-50px) }
  to { transform: translateY(0px) }
}

@keyframes fade-in{

    from {opacity: 0; }
    to{ opacity:1;}

}

.top-In {
    opacity:0;
    animation:fade-in 5s ease,
            top-In 3s ease;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.Blinking-Border{
    border-right: 5px solid;
    border-color: white;
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 2s steps(24),
        blink .3s step-end infinite alternate;

}

/*404 Typing Animation*/
@keyframes typing{
    from { width:0 }
    to { width: 100% }
}



.typing{
    border-right: 5px solid;
    border-color: white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 1.5s steps(15),
        blink .3s step-end infinite;
    animation-fill-mode: forwards;

}

/*HomePage Glowing Text*/
.pksh-glowing{

    color: white;
    text-shadow: 0 0 10px #6f36b5,
                 0 0 20px #6f36b5,
                 0 0 20px #6f36b5,
                 0 0 20px #6f36b5,
                 0 0 40px #6f36b5;
}

/*HomePage Github Button Hover Animation*/


.logo-Hover img:last-child{
    display:none;
}

.logo-Hover:hover img:first-child{
    display:none;
}

.logo-Hover:hover img:last-child{
    display:block;
}














